.banner{
    display: flex;
    position: relative;
    margin-top: -15px;
}

.left-section{
    margin-left: 5.5rem;
    width: 76%;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: .9rem;
    row-gap: 2rem;
    margin-top: -6px;
}


.right-section{
    border: 1px solid rgb(184, 170, 170);
    height: 310px;
    width: 225px;
    border-radius: 10px;
    margin-top: 9rem;
    margin-left: 1rem;
}