

.item{
    height: 535px;
    width: 353px;
    border-radius: .75rem;
    border: 1px solid #999999 ;
    padding: 28px;
}

.description{
    max-width: 327px;
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
    margin-top: 0;    
}

.price-text{
    font-size: 12px;
    color: gray;
    margin-top:1.5rem;   
}

.title{
    font-size: 20px;
    margin-top: 28px;
    font-weight: 600;
    margin-bottom:8px;
}
.price-tag{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.description span{
    font-weight: 800;
}
.category-name{
    background-color: #e4e4e7;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid  rgb(153 153 153);
    padding: 8px 12px;
    margin-top: 1rem;
}

.item img{
    height: 288px;
    width: 100%;
    border-radius: 10px;   
}

.item img:hover{
    transform: scale(1.1); 
  cursor: pointer;
}

.item button{
    border-radius: 10px;
    color: white;
    background-color: #703bf7;
    border: none;
    height: 32px;
    padding: 0px 16px;
    font-size: 18px;
}
.item .item-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

